@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Laugh-a-Lot: The Hilarious Jokes </h1>
    <p>Welcome to the world of laughter and endless amusement! Get ready to tickle your funny bone and brighten your day with our incredible collection of jokes. Whether you're in need of a quick giggle, a hearty chuckle, or a full-on belly laugh, our jokes app is here to deliver. From witty one-liners and clever puns to hilarious anecdotes and amusing riddles, we've curated a diverse selection of humor to cater to every taste. Prepare to be entertained, uplifted, and most importantly, to have a blast as you dive into the world of laughter that awaits you in our fantastic jokes app. So, sit back, relax, and let the good times roll!</a>.</p>
</div>
