@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body>
    </hr>
    <h3>Data Collection</h3>
    <ul>
        <li>We collect minimal personal data during your interaction with the jokes web app, such as your IP address and browsing information, solely for the purpose of improving the app's performance and user experience.</li>
    </ul>

    <h3>Information Usage</h3>
    <ul>
        <li>The collected data is used in an aggregated and anonymized form to analyze trends, optimize content, and troubleshoot technical issues. We do not sell, rent, or share your personal information with any third parties for marketing or advertising purposes.</li>
    </ul>

    <h3>Cookies</h3>
    <ul>
        <li>We may use cookies to enhance your browsing experience and personalize content. These cookies do not contain any personally identifiable information and can be disabled or cleared from your browser settings if desired.</li>
    </ul>

    <h3>Third-Party Services</h3>
    <ul>
        <li>In order to provide certain features or functionality, we may integrate third-party services within the jokes web app. Please note that these services may have their own privacy policies, and we encourage you to review them separately.</li>
    </ul>

    <h3>Data Security</h3>
    <ul>
        <li>We take reasonable measures to protect your personal information and maintain data security. However, please be aware that no method of transmission or storage over the internet is completely secure, and we cannot guarantee absolute protection.</li>
    </ul>

    <h2>Updates to the Privacy Policy</h2>
    <ul>
        <li>We reserve the right to update or modify this privacy policy at any time. Any changes will be reflected on this page, and your continued use of the jokes web app constitutes your acceptance of such modifications.</li>
    </ul>

    <h2>Contact Information</h2>
    <ul>
        <li>If you have any questions, concerns, or requests regarding your privacy or the jokes web app, please feel free to contact our support team via the provided contact information.</li>
    </ul>
</body>
